.sidebar {
    width: 27rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#FCEFDA, #D6FEDD);
}

.border-bottom {
    border-bottom: 2px solid rgb(0, 0, 0, 0.25);
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.sidebar-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.sidebar-filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sidebar-filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0.8rem 1.6rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.filter-btn-1-bg {
    background-image:  linear-gradient(90deg, #FFA800 0%, #2E1CFF 100%);
    background-repeat: no-repeat;
}


.filter-btn-2-bg {
    background-image: linear-gradient(90deg, #8DBD25 0%, #14A872 100%);
    background-repeat: no-repeat;
}


.filter-btn-3-bg {
    background-image: linear-gradient(90deg, #D186FF 0%, #FF6F07 100%);
    background-repeat: no-repeat;
}


.filter-btn-4-bg {
    background-image: linear-gradient(84.69deg, #5200FF 4.01%, rgba(255, 0, 0, 0.4) 62.74%, #0038FF 92.47%);
    background-repeat: no-repeat;
}

.filter-icon {
    font-size: 1.5rem;
    text-shadow: 4px 0 4px rgb(0, 0, 0, 0.25);
}

.new-chip {
    margin-top: 4px;
    width: 2rem;
    height: 1.4rem;
}

.sidebar-selector-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.sidebar-selector {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px solid #04040450;
    border-radius: 2.1rem;
    font-size: 1.2rem;
    font-weight: 500;
    background: white;
}

.indian-flag {
    width: 2rem;
    height: 2rem;
}

.sidebar-selector-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.seal-of-trust-section {
    padding: 2rem 1rem;
    position: relative;
}

.seal-of-trust-box {
    width: 23rem;
    height: 22rem;
    border-radius: 1.2rem;
    background: white;
}

.freemium-btn {
    max-width: 15rem;
    background: #CFA063;
    padding: 1rem 2rem;
    border: 2px solid rgb(255, 255, 255, 0.4);
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    color: white;
    position: absolute;
    top: 42%;
    left: 19%;
}


